.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgba(86, 228, 250, 0.939);
  width:96%;
}

.product-item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.product-item h2 {
  color: yellow;
  font-size: 2rem;
  flex: 1;
  margin: 0 1rem;
  color: rgba(33, 40, 174, 0.85);
}

