#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.navlinks{
  background: #000;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.navlinks ul{
  list-style-type: none;
}