:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.read-more {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}
.read-more:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'San Francisco';
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.title{
  font-size: 3rem;
  margin: 5vh;
  border: 7px dashed rgb(1,17,160);
  border-radius: 20px;
  padding: 1vh 5vw;
}

.cards{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
}

.card{
  width: 350px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  background-color: #e4dfdf;
  color: black;
  box-shadow: rgb(0,0,0,0.24) 0px 3px 8px;
  text-align:left;
}

.image{
  width: 350px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.card-info{
  margin: 12px 5px;
}


/* .tour-details{
  font-size: 1.5rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: start;
} */

.tour-details{
  line-height: 0;
}
.tour-price{
  font-size: 1.3rem;
  color: #60c665;
}
.tour-name{
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-red{
  margin-top: 18px;
  padding: 10px 60px;
  color: black;
  border: 1px solid #b4161b;
  border-radius:10px; 
  font-size: 18px;
  font-weight: bold;
  background-color: #b4161b21;
}

.btn-red:hover{
  background-color: red;
  color: beige;
  transition: all 0.4s;
}

.refresh {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.btn-white {
  margin-top: 18px;
  border: 1px solid #bdbcbc;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #d6cacb72;
  padding: 10px 80px;
}

.btn-white:hover{
  background-color: white;
  color: black;
  transition: all 0.4s;
}

/* .discription{
  font-family: 'San Francisco';
  font-weight: 400;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
